.main_chat
  .main_chat__group--info
    .main_chat__group--info__main-header

      .main_chat__group--info__main-header__box
        .main_chat__group--info__main-header__box__leftbox
          = @group.name
        .main_chat__group--info__main-header__box__rightbox
          Member:
          - @group.users.each do |user|
            = user.name
      .main_chat__group--info__main-header__edit
        = link_to edit_group_path(@group), class: "main_chat__group--info__main-header__edit__btn" do
          Edit

  .main_chat__message--list
    = render @messages

  
  .main_chat__message--form
    = form_for [@group, @message] do |f|
      .main_chat__message--form__input
        .main_chat__message--form__input__text
          = f.text_field :content, class: 'main_chat__message--form__input__text__m', placeholder: 'type a message'
          .main_chat__message--form__input__text__image
            = f.label :image, class: 'form__mask__image' do
              = icon('far', 'image')
              = f.file_field :image, class: 'hidden'
        .main_chat__message--form__input__btn
          = f.submit 'Send', class: 'main_chat__message--form__input__btn__s'